.home-page {
    .horizontal-seperator {
        height: 0.5px; 
        background:grey;
        margin: 2rem 0 2rem 0;
    }
    .button-group {
        width: 100%;
    }
    .pagination-group {
        margin: 1rem 0 1rem 40%;
        button { color: #007bff; }
        .page-link {
            cursor: pointer;
        }
    }
    .sentence-count {
        margin: 1rem 0 !important;
    }
    .paginated-sentence-count {
        float: left;
    }
    .top-features-count {
        margin: 1rem 0;
    }
    .sentences-tab {
        position: relative;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1340px;
    }
}
