.results-listing {
    display: flex;
    min-height: 10rem;
    margin-bottom: 2rem;
    .top-features {
        flex: 1;
        border: 1px solid grey;
        border-radius: 5px;
    }
    .sentences {
        flex: 1;
        border: 1px solid grey;
        border-radius: 5px;
    }
    .no-results-found {
        margin: 12% 0 0 33%
    }
    .sentences-table {
        .table {
            tbody tr td:nth-child(2) {
                height: 5px;
                overflow-y: scroll;
            }
        }
        .pagination-group {
            width:100%
        }
    }
}