.sentences {
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 5rem;
    .sentences-table {
        .table {
            tbody tr td:nth-child(2) {
                height: 5px;
                overflow-y: scroll;
            }
        }
    }
    .no-results-found {
        text-align: center;
        margin-top: 1.5rem;
        color: #007bff;
    }
}