.top-features {
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 5rem;
    .no-results-found {
        text-align: center;
        margin-top: 1.5rem;
        color: #007bff;
    }
}